@font-face {
    font-family:'gothic';
    src: url('fonts/gothic.ttf');
}
    @font-face{
        font-family: "talos";
        src: url("fonts/TALOS___.TTF");
    }
    @font-face {
        font-family: "ubuntu";
        font-style: italic;
        font-weight: 300;
        src: local("Lato Light Italic"), local("Lato-LightItalic"),
            url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
                format("woff2");
    }
    body{
        width: 100%;
        display: flex;
        margin: 0px;
        background-image: url('img/background2.jpg');
        font-family: "ubuntu", Arial, sans-serif;
        background-size: 70%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;

    }
    header{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: black;
        border: 12px #3f3f3f solid;
        border-right: 0px;
        border-left: 0px;
        padding: 0.5rem;
        justify-content: space-between;
    }
    .complete_logo{
        display: flex;
        font-family: 'gothic';
        color: #c3b375;
        align-items: center;
        justify-content: flex-start;
        width: 30%
    }
    .complete_logo a{
        width: 20%;
    }
    .complete_logo img{
        width: 100%;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 5rem;
        flex-wrap: wrap;
    }
    nav a{
        font-family: 'gothic';
        text-decoration: none;
        color: transparent;
        background-image: linear-gradient(
            to right,
            #3b3535 0,
            #856a3b 22%, 
            #9c8e46 45%,
            #bb8c25 50%,
            #9c8e46 55%,
            #856a3b 78%,
            #3b3535 100%
            );
        
        font-size: 2rem;
        -webkit-background-clip:text;
        margin: 1rem;
        min-width: 60px;

        
    }
    nav a:hover{
        color: transparent;
        background-image: linear-gradient(
            to right,
            #b69245 0,
            #cb9b51 22%, 
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #b69245 100%
            );
        -webkit-background-clip:text;
        text-shadow: none;
    }
    #talos_fixed{
        margin-top: 20rem;
        width: 25%;
        position: fixed;
        left: auto;
        z-index: -1;
    }
    main{
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(58, 58, 58, 0.466);
    }
    .fila{
        display: flex;
    }
    .el{
        width: 50%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     button{
        margin-top: auto;
        width: 100%;
        padding: 0.5rem;
        color: white;
        color: transparent;
        background-image: linear-gradient(
            to right,
            #6b3936 0,
            #cb9b51 22%, 
            #f6e27a 45%,
            #e7a752 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #6b3936 100%
            );
        -webkit-background-clip:text;
        border: 1px white solid;
        font-size: 1em;
    }
    
     button:hover{
        background-image: url("img/loop-hyper2.gif");
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: 100%;
        color: white;
        font-weight: bold;
        -webkit-background-clip: unset;
    }
    p{
        text-align: justify;
        color: rgb(233, 226, 221);
        font-family: 'Titillium Web', sans-serif;
    }
    p img{
        float: right;
        right: 0px;
        width: 25%;
        margin-left: 1rem;
    }
    #INTRODUCTION{
        display:flex ;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem 0px 6rem 0px;      
    }        
    h2,h1{
        text-align: center;
        color: transparent;
        background-image: linear-gradient(
            to right,
            #b69245 0,
            #cb9b51 22%, 
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #b69245 100%
            );
        font-size: 2rem;
        -webkit-background-clip:text;
        font-size: 2rem ;
        font-family: 'Roboto', sans-serif;
        margin: 1rem 0px;
        width: 100%;
    }
    h1{
        font-size: 5rem;
    }
    #logo_intro{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #logo_intro img{
        width: 20%;
    }
    #A, #B,#C{
        background-image: linear-gradient(
            to right,
            #72716f 0,
            #8a8782 22%, 
            #c0bebb 45%,
            #eeece6 50%,
            #c0bebb 55%,
            #8a8782 78%,
            #72716f 100%
            );
        -webkit-background-clip:text; 
    }
    .SECTION{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 1rem 0px 6rem 0px;
        text-align: center;
    }
    table{
        overflow: auto;
        width: 90%;
        border-collapse: collapse;
        text-align: center;
        font-family: 'Roboto', sans-serif; 
        font-size: 1rem;
        background-image: linear-gradient(
            to right,
            #837d7d65 0,
            #68656265 22%, 
            #33323065 45%,
            #1a1a1865 50%,
            #302e2b65 55%,
            #24232165 78%,
            #1a181765 100%
            );
    }
    #tablaMovil{
        display: none;
    }
    #B{
        display: none;
    }
    #tablaPC{
        display: none;
    }
    thead{
        background-color: rgba(0, 0, 0, 0.5);
    }
    td,th{
        border: 2px solid white; 
        color: transparent;
        background-image: linear-gradient(
            to right,
            #b69245 0,
            #cb9b51 22%, 
            #f6cb7a 45%,
            #dfbe66 50%,
            #f6cb7a 55%,
            #cb9b51 78%,
            #b69245 100%
            );
        -webkit-background-clip:text; 
    }
    ul{
        margin-right: 1rem;   
    }
    td>*:not(ul){
        vertical-align: bottom;
        object-fit:cover;
        width: 100%;
    }
    .SECTION>h2{
        margin-bottom: 2rem;
        width: auto;

    }
    .SECTION:nth-of-type(3){
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        color: white;
    }
    .SECTION:nth-of-type(3) > div{
        margin: 0.5rem;
        width: 50%;
    }
    #motivo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    #inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #inputs div{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    #inputs label{
        width: 25%;
        box-sizing: border-box;
        margin: 0px 0.5rem;
    }
    #inputs input{
        width: 65%;
        box-sizing: border-box;
        background-color: transparent;
        border:white 2px solid;
        color: transparent;
        background-image: linear-gradient(
            to right,
            #b69245 0,
            #cb9b51 22%, 
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #b69245 100%
            );
        -webkit-background-clip:text; 
        
    }

    textarea{
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border:white 2px solid;
        color: white;
    }
    .SECTION:nth-of-type(3) iframe{
        width: 100%;
        height: 40vw;
    }
    form{
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: smaller;
    }
    form button{
        margin-top: 2rem;
    }

    #eletitle1
    {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(
        -225deg,
        #771212 0%,
        #a11717 29%,
        #ff0101 67%,
        #9b0a0a 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    }
    #eletitle2
    {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(
        -225deg,
        #207552 0%,
        #1e9664 29%,
        #0aca7a 67%,
        #06965a 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    }
    #eletitle3
    {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(
        -225deg,
        #387520 0%,
        #23960c 29%,
        #66c000 67%,
        #519405 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    }
    #eletitle4
    {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(
        -225deg,
        #917d23 0%,
        #bea01b 29%,
        #ffbc02 67%,
        #b18305 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    }
    

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    #grid{
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(15,1fr);
        grid-template-rows: repeat(15,1fr);
    }
    #grid div{
        display: flex;
        
    }
    #grid img{
        width: 100%;
        object-fit: cover;
    }
    
    #a{
        grid-column: 6/10;
        grid-row: 1/16;
    }
    #e{
        grid-column: 1/6;
        grid-row: 1/7;
    }
    #f{
        grid-column: 10/14;
        grid-row: 1/13;
    }
    #g{
        grid-column: 14/16;
        grid-row: 1/10;
    }

    #b{
        grid-column: 14/16;
        grid-row: 10/13;
    }
    #c{
        grid-column: 10/16;
        grid-row: 13/16;
    }
    #d{
        grid-column: 1/6;
        grid-row: 7/16;
    }
    
    
    


    @media (min-width: 576px) and (max-width: 1200px)
    {
        
        main{
            width: 100%;
        }
        header{
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0px;
        }
        nav{
            margin-right: 0px;
        }
        a{
            margin-right: 0px;
            display: flex;
            justify-content: center;
            margin: 0.5rem;
        }
        .complete_logo{
            justify-content: center;
        }
        table{
            width: 95%;
        }
        #inputs > div{
            width: 50%;
            margin: 0px;
            flex-wrap: nowrap;
        }
        .SECTION:nth-of-type(3) iframe{
            height: 60vw;
        }   

    }
    @media (max-width: 576px)
    {
        body{
            overflow-x: hidden ;
        }
        main{
            width: 100%;
        }
        header{
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0px;
        }
        nav{
            margin-right: 0px;
        }
        nav a{
            font-size: 1.3rem;
        }
        a{
            display: flex;
            justify-content: center;
        }
        .complete_logo{
            justify-content: center;
        }
        .fila{
            flex-wrap: wrap;
        }
        .el{
            width: 100%;
        }
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 1.5rem;
        }
        #tablaMovil{
            display: table;
            
        }
        th{
            font-size: large;
        }
        td{
            color: white;
        }
        #tablaPC{
            display: none;
        }
        .SECTION:nth-of-type(3)
        {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .SECTION:nth-of-type(3) > div
        {
            width: 100%;
        }
        #inputs > div{
            width: 100%;
        }
        #inputs > div > *{
            width: 100%;
        }
        form{
            margin: auto;
            width: 90%;
        }
        #iframe{
            order: 2;
            width: 95%;
        }
        .SECTION:nth-of-type(3) iframe{
            height: 100vw;

        }
        #talos_fixed{

            width: 50%;

        }
    }